﻿@media (min-width: 501px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

.jobs-container {
    padding-top: 10px;
}
.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 1rem;
}

.job-card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 30px;
    margin-bottom: 30px;
    padding: 20px;
}

    .job-card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        cursor: default;
    }

.card-header-column {
    float: right;
    margin-right: 10px;
}

    .card-header-column .text-header-type {
        font-size: 0.85em;
        font-weight: bold;
        color: #FF8800;
        text-transform: uppercase;
    }

    .card-header-column .text-header {
        font-size: 1.2rem;
        padding: 0px;
        font-weight: 500;
    }

    .card-header-column .text-date-header {
        font-size: 0.85em;
        padding: 0px;
        color: #808080;
    }

.card-row {
    border-top: thin solid #ebebeb;
    font-size: 0.8rem;
    padding: 0px;
    color: #808080;
    margin-top: 15px;
    padding-top: 10px;
}

.card-salary {
    border-top: thin solid #ebebeb;
    margin-top: 15px;
    display: block;
    padding: 10px 5px 5px 5px;
    margin: 15px 5px 10px 5px;
}

.text-salary-header {
    float: right;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: #072438;
}

.card-desc {
    margin-top: 5px;
    line-height: 1.5;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: #072438;
    padding: 10px;
}
.text-title-sm {
    font-size: 0.75em;
    padding: 0px 5px;
}

.badge {
    font-size: 1.8rem;
    font-weight: 300;
    background: #FF8800;
    color: #fff;
    height: 50px;
    width: 50px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

    /* On mouse-over, add a deeper shadow */
    .badge:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        cursor: default;
    }

.form-group {
    padding-top: 15px;
}